    {% extends 'base.html' %}
    
    {% block title %}
    <title>代辦事項</title>
    {% endblock %}
    {% block css %}
    <style>
        .todo {
            padding: 10px;
            margin: 6px;
            background-color: antiquewhite;
            border-radius: 12px;
            width: 600px;
            text-align: center;
            align-items: center;
        }
    </style>
    {% endblock %}

    {% block content %}
    <h1>TodoList</h1>
    
    {% if not todos %}
    <h2>無代辦事項，請先新增或登入</h2>
    {% endif %}

    {% for todo in todos %}
    <div class="todo">
        <a href="{% url 'delete_todo' todo.id %}" onclick="return confirm('是否刪除')">
            刪除
        </a>
        <h4>{{todo.created}}</h4>
        <a href="{% url 'viewtodo' todo.id %}">
            {# urls,連結網頁後面的name="xxx" #}
            <h3>{{todo.title}}</h3>
        </a>
        <p>{{todo.text}}</p>
        <u>{{todo.important}}</u>
        {% if todo.date_completed %}
        <p>
            完成時間:<u>{{todo.date_completed}}</u>
        </p>
        {% endif %}
    </div>
    {% endfor %}
    {% endblock %}