{% extends 'base.html' %}
{% block title %}
<title>檢視</title>
{% endblock %}

{% block css %}
<style>
.todo {
    padding: 10px;
    margin: 6px;
    background-color: antiquewhite;
    border-radius: 12px;
    width: 600px;
    text-align: center;
    align-items: center;
}
</style>
{% endblock %}

{% block content %}
<h1>View Todo</h1>
<form action="" method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">提交</button>
</form>
{{message}}
<a href="{% url 'todolist' %}">回首頁</a>
{% endblock %}